@model MvcKutuphane.Models.Entity.TblYazar

@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center">Yazar Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.YazarAd, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.YazarSoyad, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Detay</label>
        @Html.TextAreaFor(y => y.YazarDetay, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="BtnYazarEkle">Yazar Ekle</button>
    </div>
</form>
